.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* CSS Transitions */

.transition-fade-enter {
  opacity: 0.3;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  -webkit-transition: -webkit-opacity 400ms ease-in-out;
  -moz-transition: -moz-opacity 400ms ease-in-out;
  -o-transition: -o-opacity 400ms ease-in-out;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0.3;
  transition: opacity 400ms;
  -webkit-transition: -webkit-opacity 400ms ease-in-out;
  -moz-transition: -moz-opacity 400ms ease-in-out;
  -o-transition: -o-opacity 400ms ease-in-out;
}
