@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  width: 100%;
}
#root {
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  height: max-content;
  width: 100%;
}

:root {
  /* Body */
  --background: #ffffff;
  /* Header */
  --header-color: #eaeaea;
  /* Titles */
  --titles-color: #212e36;
}

[data-theme="dark"] {
  /* Body */
  --background: #192229;
  /* Header */
  --header-background: #212e36;
  /* Titles */
  --titles-color: #ffffff;
}
